
.row_padding {
    padding-bottom: 1.875rem !important;
    padding-top: 1.15rem !important;
}

@media screen and (max-width:809px)
{
    .col_padding
    {
        padding-left:3px !important;
    }

    .row_padding {
        padding-left: 0px !important;
    }

    .custom-width {
        width: 62% !important;
    }

    .custom-width-after {
        width: 38% !important;
    }

    .custom-width-plus {
        width: 57% !important;
    }

    .custom-width-after-plus {
        width: 43% !important;
    }
}

@media screen and (min-width:810px) and (max-width:810px)
{
    .container
    {
        max-width:810px;
    }

    .custom-width {
        width: 68% !important;
    }

    .custom-width-after {
        width: 32% !important;
    }

    .custom-width-plus {
        width: 68% !important;
    }

    .custom-width-after-plus {
        width: 32% !important;
    }
}

.button_section 
{
    text-align: left;
    padding-top: 10px;
    padding-left: 22px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d8dd;
}

.tagify__input
{
    padding:5px !important;
}

@media screen and (min-width: 992px) {

    .col-lg-6 {
        flex: 0 0 auto;
        width: 49% !important;
    }

    .custom-width {
        width: 75% !important;
    }

    .custom-width-after {
        width: 25% !important;
    }

    .custom-width-plus {
        width: 75% !important;
    }

    .custom-width-after-plus {
        width: 25% !important;
    }
}

@media screen and (min-width:810px)
{
    .option_group {
        margin-left: 5px !important;
    }

    .sub_option_group {
        margin-right: 5px !important;
    }
}

@media screen and (max-width:809px)
{
    .option_group {
        margin-bottom:10px !important;
    }
}

.tagify__input {
    line-height: 0.9rem !important;
}

.mb_class {
    margin-bottom: 1.5rem !important;
}

@media screen and (max-width:810px) and (max-width:810px)
{
    .related_poduct_img {
        width: 100% !important;
        height: auto !important;
        object-fit: fill !important;
        border-radius: 5px 5px 0 0;
        max-height: 140px;
        min-height: 140px;
    }
}

@media screen and (max-width:809px)
{
    .related_poduct_img {
        width: 100% !important;
        height: auto !important;
        object-fit: fill !important;
        border-radius: 5px 5px 0 0;
        max-height: 230px;
        min-height: 140px;
    }
}

@media screen and (min-width:992px)
{
    .related_poduct_img {
        width: 100% !important;
        height: auto !important;
        object-fit: fill !important;
        border-radius: 5px 5px 0 0;
        max-height: 175px;
        min-height: 140px;
    }

   /* #product_name
    {
        width:200px !important;
    }*/
}

.related_poduct_title
{
    font-family:IRANSans;
    text-align:center;
}

.card-info
{
    font-family:IRANSans;
    text-align:center;
    margin:10px 0;
}

@media screen and (max-width:991px)
{
    #search {
        width:100% !important;
    }
}

.toggle_menu_header {
    border: 1px solid #bdbdbd;
}

.operation_tab {
    padding-right: 10px !important;
}

.operation_tab_parent {
    margin-top: 35px !important;
}

@media screen and (min-width:810px) and (max-width:810px) {

    .tbl_name_col {
        width: 76px !important;
    }

    .tbl_select_col {
        width: 120px !important;
    }

    .tbl_btn_col {
        width: 60px !important;
    }
}

@media screen and (min-width:415px) and (max-width:428px) {

    .tbl_name_col {
        width: 85px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 65px !important;
    }
}

@media screen and (min-width:391px) and (max-width:414px) {

    .tbl_name_col {
        width: 79px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 60px !important;
    }
}

@media screen and (min-width:385px) and (max-width:390px) {

    .tbl_name_col {
        width: 70px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 53px !important;
    }
}

@media screen and (min-width:384px) and (max-width:384px) {

    .tbl_name_col {
        width: 70px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 50px !important;
    }
}

@media screen and (min-width:375px) and (max-width:383px) {

    .tbl_name_col {
        width: 70px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 45px !important;
    }
}

@media screen and (min-width:361px) and (max-width:374px) {

    .tbl_name_col {
        width: 79px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 45px !important;
    }
}

@media screen and (max-width:360px) {

    .tbl_name_col {
        width: 65px !important;
    }

    .tbl_select_col {
        width: 110px !important;
    }

    .tbl_btn_col {
        width: 45px !important;
    }
}

@media screen and (min-width:992px) {

    .tbl_select_col {
        width: 120px !important;
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

h2.params-headline {
    padding-bottom: 15px;
    color: #525252;
    font-size: 25px;
}

.params-headline span {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    color: #999;
}

ul.params-list {
    width: 100%;
    margin-bottom: 0;
    float: right;
    padding-right: 0px;
}

ul {
    list-style: none;
    margin-top: 0;
}

    ul.params-list li.params-list-item {
        margin: 3px 0;
        float: right;
        width: 100%;
        display: block;
    }

@media screen and (min-width:810px) {
    ul.params-list li.params-list-item .params-list-key {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        width: 25%;
        float: right;
        margin-bottom: 0;
        border-radius: 20px;
    }

    ul.params-list li.params-list-item .params-list-value {
        position: relative;
        min-height: 1px;
        float: right;
        width: 75%;
    }

    ul.params-list li.params-list-item span.block {
        display: block;
        background: #fbfbfb;
        padding: 14px 18px 12px;
        font-size: 13px;
        line-height: 1.692;
        color: #999999;
        letter-spacing: -0.3px;
        min-height: 47px;
        position: relative;
        border-radius: 30px;
    }
}

@media screen and (max-width:809px) {
    ul.params-list li.params-list-item .params-list-key {
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 10px;
        width: 100%;
        float: right;
        margin-bottom: 0;
        border-radius: 20px;
    }

    ul.params-list li.params-list-item .params-list-value {
        position: relative;
        min-height: 1px;
        float: right;
        width: 100%;
    }

    ul.params-list li.params-list-item div.params-list-key span.block {
        display: block;
        background: #fff !important;
        padding: 14px 18px 12px;
        font-size: 13px;
        line-height: 1.692;
        color: #999999;
        letter-spacing: -0.3px;
        min-height: 47px;
        position: relative;
        border-radius: 30px;
    }

    ul.params-list li.params-list-item div.params-list-value span.block {
        display: block;
        background: #fbfbfb;
        padding: 14px 18px 12px;
        font-size: 13px;
        line-height: 1.692;
        color: #999999;
        letter-spacing: -0.3px;
        min-height: 47px;
        position: relative;
        border-radius: 30px;
    }
}

ul.params-list li.params-list-item span.block {
    display: block;
    background: #fbfbfb;
    padding: 14px 18px 12px;
    font-size: 13px;
    line-height: 1.692;
    color: #999999;
    letter-spacing: -0.3px;
    min-height: 47px;
    position: relative;
    border-radius: 30px;
}

ul.params-list li.params-list-item .params-list-value span.block {
    color: #666666;
}

.flex-container {
    display: flex !important;
    flex-wrap: wrap;
}

.flex-item {
    margin-right: 10px;
    margin-bottom: 5px;
}

#Existence > option {
    font-family: IRANSans;
}

.modal_close_btn {
    background: none !important;
    box-shadow: none !important;
    border: 1px solid #69809a !important;
    color: white !important;
    background-color: #69809a !important;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 1px;
}

.custom-primary-btn {
    color: #5a8dee !important;
    background: transparent;
    border: 1px solid #5a8dee !important;
    transition: color 0.3s, background-color 0.3s;
}

.custom-primary-btn:hover {
    color: white !important;
    background-color: #5a8dee !important;
}


.custom-success-btn {
    color: #39da8a !important;
    background: transparent;
    border: 1px solid #39da8a !important;
    transition: color 0.3s, background-color 0.3s;
}

.custom-success-btn:hover {
    color: white !important;
    background-color: #39da8a !important;
}


.custom-danger-btn {
    color: #ff5b5c !important;
    background: transparent;
    border: 1px solid #ff5b5c !important;
    transition: color 0.3s, background-color 0.3s;
}

.custom-danger-btn:hover {
    color: white !important;
    background-color: #ff5b5c !important;
}

.no-products {

    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    text-align: center;
    color: #6c757d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-products .icon {
    font-size: 24px;
    margin-bottom: 10px;
}